body {
  background: #132235;
}
img {
  height: 380px;
}

.principal {
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
  color: #54cac2;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000000;
}
form {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.caixa {
  text-align: center;
  border: 2px groove #6ddad3;
  padding: 20px;
}

label {
  color: #f4f3f9;
}
form label {
  display: block;
  font-size: 20px;
  margin: 0 0 20px;
}
form input,
form textarea {
  display: inline-block;
  margin: 0 0 15px;
  padding: 10px 20px;
  width: 40%;
}
.enviar {
  background: #6ddad3;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.enviar:hover {
  background: #f4f3f9;
  font-size: 20px;
}

footer {
  text-align: center;
  background: url("imagens/bg.jpg");
  width: 100%;
}

footer P {
  color: #f4f3f9;
  text-align: center;
  padding: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  bottom: auto;
  padding: 60px;
  text-align: center;
}
